{% extends 'front.html.twig' %}

{% block title %}Actus{% endblock %}

{% block content %}
<div class="m-4 content">
    <h1>{{ news.title }}</h1>
    <p>par: {{ news.createdBy.username }}, publié le: {{ news.releaseDate ? news.releaseDate|date('d-m-Y ') : '' }}</p>
    <p>catégories:
        {% for categories in news.categories %}
        <a href="{{path('app_news_category', {'id': categories.id})}}">{{categories.label}}</a>
        {% endfor %}
    </p>
    <hr>
    <a type="button" class="btn btn-primary my-2" href="{{ path('app_home') }}">Retour</a>
    <hr>

    <div class="container">
        <div class="row">
        
            <div class="col-12  col-lg-6  imageContainer fade-in-image">
                {% if news.newsPhoto!=0 %}
                <img src="{{asset('uploads/photo/'~news.newsPhoto)}}" class="card-img-top" alt="{{news.newsPhoto}}">
                {% else %}
                <img src="{{asset('uploads/photo/noPhoto.jpg')}}" class="card-img-top mt-2" alt="{{news.newsPhoto}}">
                {% endif %}
            </div>

            <div class="col-12 col-lg-6 description p-4">
                <h5>{{ news.descriptionLong | nl2br }}</h5>
            </div>
        </div>

    </div>

</div>
{% endblock %}